@charset "UTF-8";
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
}

header .main-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1440px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 120px;
  width: calc(100% - 30px);
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 420px) {
  header .main-line {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header .main-line > a img {
  max-height: 100%;
  max-width: 200px;
}

header .main-line .addresses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .main-line .addresses .address-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

header .main-line .addresses .address-cart .address-image {
  width: 50px;
  height: 50px;
}

header .main-line .addresses .address-cart .address-image img {
  -webkit-box-shadow: 0px 5px 25px rgba(30, 235, 75, 0.25);
          box-shadow: 0px 5px 25px rgba(30, 235, 75, 0.25);
  border-radius: 50%;
}

header .main-line .addresses .address-cart .address-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 19px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .main-line .addresses .address-cart .address-text p.value {
  font-weight: 500;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

header .main-line .addresses .address-cart .address-text p.text {
  font-weight: 700;
  color: #38D35B;
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-top: 3px;
}

@media (max-width: 980px) {
  header .main-line .addresses .address-cart {
    display: none;
  }
}

header .main-line .backcall {
  font-weight: bold;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#2FDA55), to(#14F546));
  background: linear-gradient(180deg, #2FDA55 0%, #14F546 100%);
  padding: 15px 37px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 25px rgba(30, 235, 75, 0.25);
          box-shadow: 0px 5px 25px rgba(30, 235, 75, 0.25);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .main-line .backcall:hover {
  -webkit-box-shadow: 0px 10px 35px rgba(25, 221, 67, 0.377);
          box-shadow: 0px 10px 35px rgba(25, 221, 67, 0.377);
}

@media (max-width: 420px) {
  header .main-line .backcall {
    display: none;
  }
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color: #38D35B;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  z-index: 99999;
}

.navigation.active {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation.active > ul {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px;
  width: 100%;
}

.navigation.active > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f9f9f9;
  color: #38D35B;
  font-weight: bold;
  width: calc(100% - 30px);
}

.navigation.active > ul li:hover {
  background: white;
}

.navigation.active > ul li:hover ul {
  display: none;
}

.navigation ul {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation ul > li {
  color: white;
  font-weight: bold;
  list-style: none;
  cursor: pointer;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media (max-width: 880px) {
  .navigation ul > li {
    display: none;
  }
}

.navigation ul > li.navmenu {
  display: none;
}

@media (max-width: 880px) {
  .navigation ul > li.navmenu {
    width: calc(100% - 30px);
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #38D35B;
    color: white;
  }
  .navigation ul > li.navmenu:hover {
    background: #35cc58;
  }
}

.navigation ul > li:hover {
  background-color: #35cc58;
}

.navigation ul > li:hover > ul {
  display: block;
}

.navigation ul > li a {
  color: currentColor;
  text-decoration: none;
  display: block;
}

.navigation ul > li ul {
  position: absolute;
  width: calc(100% - 15px);
  display: none;
  margin-left: -15px;
  margin-top: 120px;
}

.navigation ul > li ul li {
  width: calc(100% - 15px);
  background-color: #343434;
  color: white;
  font-weight: normal;
  text-align: left;
  padding-left: 15px;
  position: relative;
}

.navigation ul > li ul li > ul {
  margin-top: 0;
}

.navigation ul > li ul li:hover {
  background: #3e3e3e;
}

.navigation ul > li ul li.multiply::after {
  content: "›";
  position: absolute;
  right: 18px;
  font-size: 36px;
  top: 2px;
}

.navigation ul > li ul li.multiply ul {
  right: calc(-100% + 15px);
}

.navigation ul > li ul li.multiply ul li {
  background: #5f5f5f;
}

.navigation ul > li ul li.multiply ul li:hover {
  background: #525252;
}

.backcall-popup {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999999;
}

.backcall-popup.active {
  display: block;
}

.backcall-popup .container {
  width: 50%;
  max-width: 680px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-top: 25px;
  background-color: white;
  z-index: 999999999;
  position: absolute;
  left: calc(25%);
  top: 20vh;
  border-radius: 10px;
}

.backcall-popup .container .backcall-close {
  position: absolute;
  right: 15px;
  top: -30px;
  font-size: 38px;
  cursor: pointer;
}

.backcall-popup .container p.info {
  max-width: 320px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  margin-bottom: 20px;
}

.backcall-popup .container input {
  width: calc(100% - 20px);
  padding-left: 15px;
  height: 40px;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-bottom: 10px;
  outline: none;
}

.backcall-popup .container button {
  width: 100%;
  height: 40px;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-bottom: 10px;
  background: #38D35B;
  border: none;
  color: white;
}

.backcall-popup::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
/*# sourceMappingURL=header.css.map */