footer {
  width: 100%;
  min-height: 230px;
  background: #1e1e1e;
  color: white;
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    @media(max-width: 760px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      >* {
        margin-bottom: 10px;
        text-align: center;
      }
      .links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    p.title {
      font-weight: 500;
      margin-bottom: 5px;
      margin-top: 0;
    }
    .links {
      display: flex;
      flex-wrap: wrap;
      max-width: 550px;
      justify-content: space-between;
    }
    a {
      color: white;
      font-weight: 400;
      text-decoration: none;
      margin-bottom: 5px;
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
    p:not(.title) {
      font-size: 16px;
    }
    .col:not(.s-col) {
      .links {
        display: flex;
        max-width: 320px;
        flex-direction: column;
      }
    }
    .s-col {
      a {
        width: 50%;
        @media(max-width: 760px) {
          width: 100%;
        }
      }
    }
  }
}
