.first-block {
  position: relative;
}

.first-block a[href="#hot"] {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
  color: white;
  background: #ff2e2e;
  position: absolute;
  z-index: 9999;
  text-decoration: none;
  font-weight: bold;
  left: 30px;
  top: 30px;
}

.main-slider {
  width: 100%;
  height: calc(100vh - 180px);
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-slider .swiper-slide {
  background-size: cover !important;
  background-position: center !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-slider .swiper-slide h1 {
  color: white;
  max-width: 560px;
  text-align: center;
}

.main-slider .swiper-slide button {
  padding: 15px 25px;
  border-radius: 50px;
  border: none;
  background: #38D35B;
  color: white;
  font-weight: bold;
  font-size: 14px;
  -webkit-box-shadow: 0px 5px 25px rgba(30, 235, 75, 0.25);
          box-shadow: 0px 5px 25px rgba(30, 235, 75, 0.25);
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  margin-top: 20px;
}

.main-slider .swiper-slide button:hover {
  background: #35cc58;
}

.main-slider .swiper-navigation {
  position: absolute;
  top: 50%;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: 0 auto;
  left: calc(15%);
}

.main-slider .swiper-navigation .main-slider-prev {
  cursor: pointer;
}

.main-slider .swiper-navigation .swiper-button-disabled {
  opacity: 0.5;
}

.main-slider .swiper-navigation .main-slider-next {
  margin-left: auto;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .main-slider .swiper-navigation {
    top: 30%;
    left: 20%;
  }
  .main-slider .swiper-navigation img {
    max-width: 80%;
  }
}

.second-block {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-block .text {
  max-width: 45%;
  line-height: 1.54;
}

.second-block .image {
  max-width: 45%;
  margin-left: auto;
}

.second-block .image img {
  max-width: 100%;
}

@media (max-width: 800px) {
  .second-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
  }
  .second-block .text {
    max-width: 100%;
  }
  .second-block .image {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .second-block {
    margin-top: 50px;
  }
}

.third-block {
  margin-top: 100px;
  height: calc(100vh - (75px + 75px));
  background: #f9f9f9;
  width: 100%;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.third-block h1 {
  text-align: center;
  margin-top: 75px;
}

.third-block .catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 74px;
}

.third-block .catalog .cart {
  margin-left: 15px;
  margin-right: 15px;
  background-size: cover !important;
  background-position: center !important;
  width: calc(100% - 145px);
  max-width: 420px;
  height: 250px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-weight: bold;
  padding-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 350px) {
  .third-block .catalog .cart {
    font-size: 18px;
  }
}

.fourth-block {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1440px;
}

.fourth-block .hot-slider {
  overflow: hidden;
}

.fourth-block .hot-slider .slider-navigation {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fourth-block .hot-slider .slider-navigation .buttons {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
}

.fourth-block .hot-slider .slider-navigation .buttons img {
  height: 100%;
}

.fourth-block .hot-slider .slider-navigation .buttons .hot-slider-next {
  margin-left: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.fourth-block .hot-slider .slider-navigation .buttons .hot-slider-next,
.fourth-block .hot-slider .slider-navigation .buttons .hot-slider-prev {
  height: 62px;
  width: 62px;
  cursor: pointer;
}

.fourth-block .hot-slider .swiper-wrapper {
  padding-bottom: 50px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  max-width: 100%;
  max-height: 100%;
}
/*# sourceMappingURL=index.css.map */